**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [289]:
import pandas as pd
import numpy as np

In [290]:
#Loading data
books = pd.read_csv("books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

users = pd.read_csv('users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

### Check no.of records and features given in each dataset

In [291]:
books.shape

(271360, 8)

In [292]:
users.shape

(278858, 3)

In [293]:
ratings.shape

(1149780, 3)

## Exploring books dataset

In [294]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Drop last three columns containing image URLs which will not be required for analysis

In [295]:
books.columns

Index(['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher',
       'imageUrlS', 'imageUrlM', 'imageUrlL'],
      dtype='object')

In [296]:
books.drop(["imageUrlS","imageUrlM","imageUrlL"],axis=1,inplace=True)

In [297]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

**yearOfPublication**

### Check unique values of yearOfPublication

In [298]:
books["yearOfPublication"].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [299]:
books[books["yearOfPublication"]=="DK Publishing Inc"]

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...

In [300]:
books[books["yearOfPublication"]=="Gallimard"]

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...

In [301]:
books.shape

(271360, 5)

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [302]:
books.drop([209538,221678,220731],axis=0,inplace=True)

In [303]:
books.shape

(271357, 5)

In [304]:
books[books["yearOfPublication"]=="DK Publishing Inc"]

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, yearOfPublication, publisher]
Index: []

In [305]:
books[books["yearOfPublication"]=="Gallimard"]

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, yearOfPublication, publisher]
Index: []

### Change the datatype of yearOfPublication to 'int'

In [306]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication    object
publisher            object
dtype: object

In [307]:
books=books.astype({"yearOfPublication":int})

In [308]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int32
publisher            object
dtype: object

### Drop NaNs in `'publisher'` column

In [309]:
books["publisher"].isna().any()

True

In [310]:
books["publisher"].isna().sum()

2

In [311]:
books.shape

(271357, 5)

In [312]:
books=books[books["publisher"].notnull()]

In [313]:
books.shape

(271355, 5)

In [314]:
books["publisher"].isna().any()

False

## Exploring Users dataset

In [315]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

### Get all unique values in ascending order for column `Age`

In [316]:
users["Age"].isna().sum()

110762

In [317]:
np.sort(users["Age"].unique())

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 113., 114., 115., 116., 118., 119., 123., 124., 127.,
       128., 132., 133., 136., 137., 138., 140., 141., 143., 146., 147.,
       148., 151., 152., 156., 157., 159., 162., 168., 172., 175., 183.,
       186., 189., 199., 200., 201., 204., 207., 208., 209., 210., 212.,
       219., 220., 223., 226., 228., 229., 230., 231., 237., 239., 244.,
        nan])

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [319]:
len(users[users["Age"]<5])

882

In [320]:
len(users[users["Age"]>90])

430

In [321]:
age_more=users[users["Age"]>90]["Age"]
users["Age"].replace(age_more,np.nan,inplace=True)

In [322]:
age_less=users[users["Age"]<5]["Age"]
users["Age"].replace(age_less,np.nan,inplace=True)

In [323]:
users["Age"].isna().sum()

112074

### Replace null values in column `Age` with mean

In [324]:
users["Age"].fillna(users["Age"].mean(),inplace=True)

In [325]:
users["Age"].isna().sum()

0

### Change the datatype of `Age` to `int`

In [326]:
users=users.astype({"Age":int})

In [327]:
users.dtypes

userID       int64
Location    object
Age          int32
dtype: object

In [328]:
print(sorted(users.Age.unique()))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

## Exploring the Ratings Dataset

### check the shape

In [329]:
ratings.shape

(1149780, 3)

In [330]:
n_users = users.shape[0]
n_books = books.shape[0]

In [331]:
n_users

278858

In [332]:
n_books

271355

In [333]:
ratings.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [334]:
ratings.columns

Index(['userID', 'ISBN', 'bookRating'], dtype='object')

In [335]:
books.columns

Index(['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher'], dtype='object')

In [336]:
ratings.shape

(1149780, 3)

In [337]:
list_of_matching_books=list(set(ratings["ISBN"]).intersection(books["ISBN"]))

In [338]:
len(list_of_matching_books)

270146

In [339]:
list_of_matching_books

['0613291840',
 '0140375988',
 '158134256X',
 '0821744542',
 '0912273151',
 '0746030401',
 '0713100788',
 '0399145133',
 '037319272X',
 '0671761315',
 '0688084508',
 '1573226521',
 '0834300168',
 '0590336622',
 '0686144317',
 '1556614675',
 '0080160034',
 '0486228746',
 '0394172043',
 '0515087254',
 '0060540893',
 '1565113098',
 '0151002797',
 '1556612001',
 '0061092517',
 '0789301016',
 '158827523X',
 '1857234693',
 '0688142001',
 '0399144412',
 '0394758439',
 '0451141385',
 '0517388073',
 '0670818763',
 '8401327350',
 '0552137510',
 '8877822783',
 '0517573229',
 '0505523426',
 '0553502662',
 '0816731748',
 '8401520711',
 '0812966007',
 '0373105894',
 '0451163036',
 '0060953462',
 '0374453063',
 '0375700706',
 '0373163215',
 '0688126065',
 '0451401786',
 '0451161378',
 '068986700X',
 '0671721216',
 '0712670629',
 '0130563927',
 '0486272974',
 '0394742699',
 '0385508603',
 '0385489935',
 '0380754746',
 '0880387262',
 '0553052128',
 '0816432058',
 '0027627403',
 '1586635824',
 '0688088732',
 '1566190932',
 '0816736472',
 '188065623X',
 '0192833170',
 '3442350603',
 '0553128019',
 '1577570839',
 '0060173793',
 '1593080476',
 '0065013247',
 '0425173437',
 '0374183899',
 '0852028075',
 '0316355097',
 '0884159221',
 '0307060330',
 '0380754851',
 '477002147X',
 '1860465455',
 '3548237355',
 '1551661705',
 '1577486455',
 '0451409809',
 '0440937582',
 '0965636194',
 '0155161075',
 '020718089X',
 '0446670340',
 '0380755777',
 '9507310061',
 '0060191929',
 '1860499783',
 '0048270202',
 '080540189X',
 '0875651372',
 '2066511013',
 '0836280849',
 '0812035720',
 '0451405714',
 '0312863608',
 '0812920805',
 '3426776758',
 '044143536X',
 '0312984863',
 '8428210373',
 '0553261991',
 '0805070788',
 '0684803933',
 '0553277693',
 '0671729020',
 '843224550X',
 '2070361837',
 '0553290568',
 '0310537614',
 '1567181554',
 '0553246585',
 '0028636392',
 '3746618762',
 '0373107579',
 '0373484666',
 '0586058397',
 '0399522239',
 '053452947X',
 '0851001211',
 '1572973455',
 '1583940634',
 '0345374452',
 '0373243847',
 '1582342733',
 '0916583872',
 '037370576X',
 '0449701832',
 '8806135325',
 '0375726209',
 '1555323472',
 '0679816607',
 '0425160416',
 '0312970242',
 '0393900576',
 '0553471104',
 '2266047280',
 '0451198824',
 '0860517675',
 '0811828948',
 '0449210774',
 '091336794X',
 '0395488893',
 '1841951838',
 '0671767976',
 '0020442203',
 '0631133917',
 '0312863829',
 '037383456X',
 '0140422137',
 '0812521617',
 '0451162846',
 '0671868837',
 '0525942777',
 '0060187026',
 '0373106416',
 '0670031313',
 '0140187812',
 '0812579887',
 '0440400023',
 '0819311626',
 '0969706634',
 '0887436943',
 '0671536915',
 '0723248915',
 '0816748195',
 '0441896448',
 '0806965177',
 '0812518489',
 '0380724243',
 '0486402983',
 '0312958587',
 '0345407407',
 '0307105628',
 '0066238471',
 '0441009972',
 '0330254170',
 '0812532775',
 '0515096024',
 '0380755076',
 '0312971850',
 '3421056072',
 '3518383728',
 '0340857382',
 '0394586298',
 '8484036308',
 '0373280246',
 '0843947527',
 '0399139826',
 '0515134422',
 '1877946028',
 '0307061418',
 '0785300821',
 '0373292392',
 '3442443903',
 '0451157699',
 '0440943892',
 '225305674X',
 '0373190611',
 '0295785799',
 '0516026658',
 '0671681311',
 '0316125415',
 '1565928466',
 '0895310619',
 '3596130417',
 '006446055X',
 '0345372441',
 '0786012838',
 '0893890847',
 '0312104235',
 '0812039238',
 '0140509844',
 '0330397966',
 '089191224X',
 '1576104737',
 '0878160183',
 '0440400392',
 '1885211279',
 '0708966144',
 '3404122690',
 '0609802011',
 '0749399163',
 '0763610925',
 '0961776641',
 '0898770084',
 '0553713108',
 '0684867974',
 '0394724828',
 '0345411471',
 '0394473485',
 '0671445774',
 '087131942X',
 '0684184559',
 '0394848187',
 '0802076327',
 '0802137040',
 '0385271719',
 '0385235941',
 '0373264739',
 '0821743996',
 '0380728974',
 '1841491462',
 '0060195541',
 '0451623339',
 '1929998147',
 '0671443275',
 '082175260X',
 '0340749318',
 '3875371577',
 '3100286014',
 '0756401100',
 '0060187662',
 '0751831662',
 '0849943663',
 '1562470795',
 '0671890867',
 '1557882622',
 '0156002116',
 '0445202521',
 '0679448144',
 '0553565001',
 '0060239794',
 '0671311891',
 '0898707722',
 '087474945X',
 '0373272057',
 '3492227651',
 '0590462814',
 '0441774083',
 '067145661X',
 '0800707397',
 '0553348523',
 '0440129559',
 '0803233019',
 '1896647111',
 '1551923122',
 '0446671045',
 '1583140999',
 '0883960184',
 '0849955572',
 '0962654132',
 '0307100340',
 '0375759069',
 '0671898213',
 '0394701291',
 '0380719223',
 '0441304834',
 '0385335520',
 '039472285X',
 '3502516642',
 '0071361405',
 '067172858X',
 '067100252X',
 '080483248X',
 '0743224620',
 '0440181704',
 '0195535626',
 '0671743260',
 '2912107008',
 '0446814679',
 '0451158857',
 '0156343207',
 '048623794X',
 '0307122433',
 '9505812760',
 '0809097028',
 '0945575831',
 '0307701018',
 '9625934456',
 '0822216310',
 '0373250320',
 '0684833247',
 '0553119311',
 '0671758187',
 '0385175809',
 '0689838476',
 '3502102465',
 '0944002196',
 '009180194X',
 '0316790125',
 '0684836149',
 '2070325032',
 '030908430X',
 '0888012721',
 '0590568825',
 '0743437845',
 '0399215964',
 '0773725725',
 '2705803335',
 '1550132164',
 '0609805002',
 '059041626X',
 '0811814815',
 '1887374426',
 '0140170138',
 '0515063924',
 '0380974061',
 '0811440842',
 '0345316991',
 '0471918083',
 '0307136582',
 '0872863638',
 '0821729551',
 '0300084617',
 '006444239X',
 '0804118310',
 '059098182X',
 '0553487655',
 '0890817383',
 '0373612354',
 '0553276891',
 '0399525777',
 '0684126621',
 '0399132503',
 '046508348X',
 '0842383824',
 '067169412X',
 '2262005117',
 '0448408317',
 '037361375X',
 '1551666413',
 '0887309437',
 '0671671863',
 '0373261489',
 '842542092X',
 '0743225139',
 '0192815180',
 '1559123761',
 '067088832X',
 '1580050948',
 '0312965788',
 '0138097151',
 '0671568604',
 '0440223784',
 '0781401267',
 '0679724117',
 '1881955338',
 '0671498665',
 '2226089241',
 '0394979087',
 '0716723476',
 '0140376283',
 '0425176738',
 '0871968509',
 '9029027010',
 '1892112078',
 '0226138097',
 '0744554896',
 '0881064548',
 '0394437039',
 '0156806797',
 '0684834146',
 '0679822690',
 '031231826X',
 '044922421X',
 '0886775167',
 '0810928930',
 '0373241208',
 '0523414366',
 '0811806553',
 '1593080123',
 '0670835498',
 '0553267027',
 '0821746863',
 '0451179358',
 '0671535528',
 '0307000796',
 '0373227779',
 '0884092097',
 '0970054459',
 '0916870081',
 '0373821883',
 '0913573973',
 '0525672893',
 '0373072252',
 '1567511945',
 '0711955522',
 '0380791226',
 '0207180342',
 '0440219752',
 '019281611X',
 '0895774917',
 '0684163837',
 '1864710047',
 '2020490668',
 '1555520294',
 '0380793423',
 '068841933X',
 '0821734687',
 '0375755373',
 '0064671011',
 '0393094154',
 '0440503892',
 '0679429816',
 '006017143X',
 '0964266067',
 '0445043008',
 '0061083666',
 '0812548302',
 '0836114779',
 '044010498X',
 '0590472976',
 '0312990065',
 '0689823185',
 '0137980906',
 '0471037060',
 '0060215860',
 '019519988X',
 '0399128158',
 '0590479636',
 '0749744774',
 '0198540345',
 '067166557X',
 '038078274X',
 '0679435301',
 '038072023X',
 '0688148891',
 '0060113847',
 '0373161433',
 '0743459458',
 '0373075537',
 '0671760602',
 '0393058964',
 '0140440062',
 '037303718X',
 '0440206480',
 '0307100170',
 '0670801453',
 '0671693816',
 '076360772X',
 '1401352049',
 '0451406419',
 '0061013005',
 '0375802819',
 '0671878514',
 '0140367500',
 '1581342675',
 '0679722068',
 '0140133038',
 '0590313274',
 '0425130223',
 '0884119742',
 '1570620636',
 '0553404911',
 '8441409277',
 '081602703X',
 '0671530755',
 '0373111363',
 '0441432751',
 '0878917004',
 '8474059534',
 '068981383X',
 '0152166696',
 '0446671940',
 '0590133705',
 '0821762362',
 '1583141715',
 '0553289209',
 '0884490009',
 '3442545188',
 '0373634056',
 '0736902783',
 '0452266270',
 '3476018733',
 '0553264907',
 '0373290403',
 '0743426916',
 '0879101288',
 '0375504443',
 '2290005673',
 '0446610771',
 '0373627165',
 '0964695235',
 '8485701038',
 '0785271260',
 '0877799008',
 '093303119X',
 '0613175212',
 '1584790466',
 '0312922671',
 '1565121317',
 '0747246092',
 '1858285089',
 '0679017747',
 '0345434536',
 '0671676369',
 '068418611X',
 '0141304960',
 '084394031X',
 '1585743658',
 '0345292901',
 '3404142667',
 '3257214367',
 '053313997X',
 '3404196015',
 '1573229105',
 '1864489480',
 '0806913878',
 '2259184731',
 '1556612052',
 '0441669573',
 '0330372467',
 '0440400104',
 '0374422389',
 '0809166348',
 '0821775995',
 '1569710821',
 '8423108562',
 '0595259596',
 '0028614216',
 '0772004765',
 '2070369390',
 '0517077736',
 '0316837059',
 '156822687X',
 '1568651503',
 '0449240843',
 '0679410252',
 '0394826876',
 '0061013145',
 '0440418585',
 '0449237605',
 '0060727101',
 '1858687373',
 '0802077455',
 '1402536038',
 '0745935524',
 '1567186955',
 '0340802723',
 '155936016X',
 '0899196578',
 '1883846501',
 '1585673390',
 '0297766929',
 '2862740691',
 '0879979070',
 '1587881705',
 '0722529368',
 '0374278466',
 '0786885149',
 '0747244405',
 '0374336644',
 '0486408930',
 '8448042069',
 '0312158955',
 '0394588169',
 '0192828584',
 '0060523905',
 '0452279577',
 '0345318293',
 '1860465382',
 '093019344X',
 '003091356x',
 '0425181847',
 '0312058950',
 '0399234551',
 '3455013570',
 '0525342214',
 '0395174449',
 '0689308892',
 '1550390767',
 '0843949449',
 '0505520745',
 '0890871191',
 '0441240984',
 '0919123058',
 '0830816623',
 '0500091080',
 '0446907901',
 '030681224X',
 '0452267099',
 '0385332769',
 '0345306856',
 '0140707050',
 '0679400311',
 '037322592X',
 '0802131255',
 '0373790643',
 '1877727520',
 '0440117402',
 '0226307808',
 '0380705788',
 '0786861762',
 '8472226107',
 '096343800X',
 '0446672378',
 '0553482750',
 '0689833407',
 '0713156007',
 '0449236412',
 '0862728002',
 '0753700913',
 '0060933151',
 '0399139206',
 '088768064X',
 '0945946023',
 '0930289595',
 '0553375059',
 '0674654609',
 '1857542797',
 '0679754474',
 '0451204611',
 '0747248915',
 '1585470775',
 '8401474523',
 '0765190575',
 '8448000412',
 '0802082521',
 '0720608333',
 '006016056X',
 '0440509211',
 '0880486759',
 '0743234421',
 '015100188X',
 '0843953039',
 '0898797896',
 '0789495945',
 '8483107864',
 '1570821542',
 '0395901472',
 '006444015X',
 '8401465559',
 '0821774336',
 '0140369945',
 '0375404929',
 '0345388623',
 '0440402786',
 '1899171681',
 '0486287440',
 '0376026324',
 '0844200212',
 '0440155967',
 '0842333479',
 '1564022137',
 '0884861155',
 '0671628992',
 '1551665778',
 '0312029101',
 '0671024396',
 '0440225639',
 '0380711230',
 '1576734021',
 '3453186672',
 '0809238438',
 '3257200951',
 '038077738X',
 '0821751913',
 '0881841447',
 '0896936899',
 '0517220849',
 '0440415365',
 '1561705713',
 '0373094868',
 '8420636371',
 '0340765992',
 '0078825490',
 '0836269640',
 '0373483872',
 '0824825357',
 '0140378812',
 '0380711206',
 '0671039180',
 '0385170602',
 '3358022218',
 '0310585902',
 '0451453964',
 '0821775758',
 '0134843460',
 '843221521X',
 '0399527257',
 '0517308096',
 '0375759972',
 '0140242058',
 '3426617153',
 '0140145338',
 '037540676X',
 '8432056707',
 '0671209019',
 '8433969021',
 '0805210296',
 '0590442872',
 '3150089352',
 '0425130738',
 '3453188012',
 '0192835386',
 '0373765061',
 '0030402468',
 '0913546895',
 '0152009787',
 '0312851847',
 '0670874876',
 '096382810X',
 '0140556834',
 '1578511933',
 '0140546642',
 '0140179062',
 '0898157986',
 '0440918057',
 '0440234689',
 '0671685163',
 '0553240935',
 '0679440674',
 '0802422764',
 '031037281X',
 '0821730142',
 '0201633469',
 '0671892525',
 '0870447238',
 '1558746153',
 '0395735114',
 '0892361646',
 '0140156828',
 '0890817065',
 '0679405062',
 '0671027948',
 '3894324260',
 '0912769130',
 '0821748149',
 '0373227868',
 '3404133463',
 '3442415993',
 '0821744607',
 '0553296507',
 '0140159797',
 '0316734357',
 '0520027817',
 '0062514873',
 '0920905609',
 '157856137X',
 '074344261X',
 '0449910741',
 '0345404742',
 '0373024622',
 '0534508545',
 '0440466512',
 '3453161866',
 '0451174046',
 '0395253799',
 '0671298178',
 '0689813112',
 '0451192974',
 '0743213300',
 '0920897010',
 '0373613091',
 '0821743163',
 '0140067647',
 '1550500635',
 '0373037643',
 '0373171420',
 '0446676160',
 '2253040835',
 '0312857098',
 '0882668773',
 '1893732126',
 '0821758632',
 '0030045894',
 '0140373977',
 '0374524912',
 '1582433070',
 '0609600427',
 '0671884506',
 '0515096091',
 '1569714703',
 '0380730820',
 '0156029723',
 '1573660345',
 '0811803538',
 '043955490X',
 '0060005556',
 '0140008950',
 '0679853375',
 '1572240377',
 '0821728806',
 '068971601X',
 '0553213636',
 '0226901300',
 '0307100189',
 '0060541806',
 '0375757538',
 '0814792391',
 '082176683X',
 '1566891051',
 '0375432159',
 '0312251920',
 '0156002418',
 '0307118533',
 '1558687068',
 '0818404140',
 '0060197250',
 '0060915730',
 '0807042080',
 '0152013318',
 '0871161737',
 '0373028806',
 '034537231X',
 '0811810119',
 '8445070835',
 '0449223876',
 '0060093315',
 '1575849399',
 '0385000820',
 '0345313917',
 '0671739891',
 '1573229954',
 '0385474504',
 '270022793X',
 '2070401014',
 '0770420583',
 '0884961109',
 '0385291604',
 '0394502280',
 '0385242700',
 '0679421572',
 '0679433104',
 '0821746871',
 '2070379086',
 '067154134X',
 '0385510438',
 '0061098280',
 '2742713352',
 '0553582399',
 '087909754x',
 '0374525285',
 '0764550659',
 '0394510909',
 '0373201192',
 '0373703988',
 '0452283337',
 '0373271190',
 '0330352954',
 '2264006609',
 '0912696915',
 '0878919929',
 '0373078528',
 '0712683658',
 '0440207355',
 '0441115772',
 '0316850497',
 '006008877X',
 '0805208720',
 '0312986033',
 '0198641982',
 '0373255659',
 '2856166296',
 '8408034162',
 '0091826225',
 '034544647X',
 '0679725768',
 '051720651X',
 '0553096605',
 '0553578677',
 '0453010237',
 '0688164447',
 '1740590392',
 '0553245945',
 '0819868175',
 '0836218930',
 '0679031502',
 '3717581546',
 '0671411136',
 '0553297597',
 '0971437009',
 '0195038347',
 '0671517325',
 '0060199598',
 '1887654151',
 '0449239470',
 '0553803344',
 '0812508483',
 '0811829421',
 '0373114141',
 '0807281808',
 '0821741330',
 '0849930847',
 '0806903309',
 '0806523352',
 '1558002650',
 '189020871X',
 '0373834993',
 '1560251476',
 '0373120117',
 '0812502493',
 '1852421371',
 '0865474273',
 '0805053948',
 '0373122535',
 '185145697X',
 '1582402485',
 '1859996434',
 '0963622927',
 '0840790368',
 '1577311655',
 '0312167814',
 '2800134267',
 '9810039212',
 '0312314485',
 '2266023136',
 '0395075149',
 '1879960567',
 '0449123561',
 '0671450751',
 '0142300675',
 '9504910327',
 '043590972X',
 '288241062X',
 '0894718983',
 '0689714920',
 '0671667475',
 '0553571923',
 '0006135986',
 '0671657518',
 '0824518632',
 '3424006939',
 '0886776120',
 '0198612710',
 '2259196497',
 '0671550594',
 '0590455842',
 '1888451335',
 '0553159968',
 '1551520982',
 '0373117612',
 '0553575643',
 '0373255438',
 '0708941214',
 '0765300974',
 '3404145763',
 '0440223970',
 '0140133399',
 '0786913673',
 '0451524977',
 '0671696491',
 '0743202643',
 '0679800913',
 '0697001172',
 '042518708X',
 '1885222904',
 '0671612808',
 '3807701710',
 '0440202159',
 '0061060836',
 '088730866X',
 '0877900329',
 '843353503X',
 '0811829057',
 '0590474316',
 '0441785719',
 '0316454311',
 ...]

In [340]:
ratings.shape

(1149780, 3)

In [341]:
ratings=ratings[ratings["ISBN"].isin(list_of_matching_books)]

In [342]:
ratings["ISBN"].isin(books["ISBN"]).value_counts()

True    1031130
Name: ISBN, dtype: int64

In [343]:
ratings.shape

(1031130, 3)

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [344]:
users.columns

Index(['userID', 'Location', 'Age'], dtype='object')

In [345]:
list_of_matching_users=list(set(ratings["userID"]).intersection(users["userID"]))

In [346]:
len(list_of_matching_users)

92106

In [347]:
ratings=ratings[ratings["userID"].isin(list_of_matching_users)]

In [348]:
ratings.shape

(1031130, 3)

In [349]:
ratings["userID"].isin(users["userID"]).value_counts()

True    1031130
Name: userID, dtype: int64

In [350]:
ratings.shape

(1031130, 3)

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [351]:
ratings.shape

(1031130, 3)

In [352]:
len(ratings[ratings["bookRating"]==0])

647291

In [353]:
ratings=ratings[ratings["bookRating"]!=0]

In [354]:
ratings.shape

(383839, 3)

### Find out which rating has been given highest number of times

In [361]:
ratings["bookRating"].value_counts()

8     91804
10    71225
7     66401
9     60776
5     45355
6     31687
4      7617
3      5118
2      2375
1      1481
Name: bookRating, dtype: int64

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [365]:
ratings.shape

(383839, 3)

In [400]:
most_rated = ratings.groupby('userID').size().sort_values(ascending=False)
most_rated_users=most_rated[most_rated>100]
most_rated_users=list(most_rated_users.index)
most_rated_users

[11676,
 98391,
 189835,
 153662,
 23902,
 235105,
 76499,
 171118,
 16795,
 248718,
 56399,
 197659,
 35859,
 185233,
 95359,
 114368,
 158295,
 101851,
 177458,
 204864,
 93047,
 69078,
 182085,
 135149,
 100906,
 107784,
 78973,
 23872,
 60244,
 257204,
 189334,
 123883,
 63714,
 88733,
 76626,
 129074,
 87141,
 234828,
 249894,
 31826,
 56959,
 216012,
 104636,
 262998,
 51883,
 135265,
 25981,
 31315,
 55490,
 94347,
 162639,
 46398,
 30276,
 230522,
 16634,
 242006,
 7346,
 38273,
 31556,
 110973,
 147847,
 112001,
 79441,
 177432,
 168245,
 69697,
 264321,
 88677,
 89602,
 225087,
 270713,
 156150,
 75591,
 37950,
 190925,
 254899,
 81560,
 236283,
 30511,
 174304,
 129716,
 6575,
 25409,
 78553,
 254206,
 43246,
 258185,
 265889,
 130554,
 240144,
 216683,
 110934,
 217740,
 261829,
 200226,
 68555,
 13552,
 252695,
 212965,
 128835,
 6251,
 142524,
 4385,
 156269,
 274061,
 23768,
 162052,
 97874,
 225763,
 140358,
 265115,
 114988,
 269566,
 156467,
 60707,
 172742,
 36606,
 105517,
 143175,
 56447,
 102702,
 183995,
 2276,
 38023,
 122429,
 125774,
 179978,
 258534,
 101209,
 165319,
 245827,
 30735,
 231210,
 12982,
 52917,
 209516,
 225199,
 115003,
 236757,
 242083,
 21014,
 148258,
 254465,
 229011,
 173415,
 26535,
 163973,
 227447,
 37712,
 187517,
 187145,
 110483,
 76151,
 268932,
 194600,
 28591,
 251843,
 52199,
 225595,
 168047,
 234359,
 6543,
 210485,
 107951,
 264082,
 164828,
 109574,
 88693,
 224349,
 235282,
 245410,
 59172,
 193560,
 189973,
 96448,
 39467,
 146348,
 224764,
 241980,
 17950,
 180651,
 182086,
 239594,
 70415,
 240403,
 206534,
 242409,
 102359,
 196160,
 274301,
 217106,
 232131,
 83671,
 164905,
 227520,
 247429,
 218608,
 39281,
 219683,
 55187,
 56271,
 273113,
 251844,
 60337,
 149907,
 85526,
 4017,
 49144,
 52584,
 227250,
 28634,
 244627,
 35433,
 222204,
 148199,
 127359,
 236340,
 181176,
 196077,
 184299,
 70594,
 102647,
 143415,
 104399,
 277427,
 93629,
 120565,
 219546,
 48025,
 8681,
 12538,
 226965,
 101606,
 240567,
 275970,
 52614,
 95932,
 164533,
 78834,
 218552,
 247447,
 136010,
 229329,
 157273,
 150979,
 138844,
 268110,
 30711,
 92810,
 87555,
 35857,
 132836,
 229551,
 48494,
 166123,
 126736,
 239584,
 143253,
 123981,
 158226,
 43910,
 246311,
 32773,
 6242,
 261105,
 40943,
 106007,
 8890,
 165308,
 105979,
 15408,
 5582,
 116599,
 13850,
 173291,
 240543,
 113519,
 36836,
 40889,
 100459,
 98758,
 94951,
 160295,
 133747,
 91113,
 8067,
 2033,
 178522,
 140000,
 271448,
 225232,
 67840,
 72352,
 126492,
 214786,
 145449,
 264525,
 189139,
 163759,
 122793,
 94853,
 179718,
 114868,
 105028,
 73681,
 36907,
 217318,
 65258,
 233911,
 30810,
 16966,
 83637,
 266226,
 223501,
 37644,
 241198,
 250709,
 94242,
 130571,
 123094,
 136382,
 266056,
 78783,
 180378,
 125519,
 95902,
 129851,
 205735,
 268300,
 208671,
 115002,
 207782,
 196502,
 26583,
 193458,
 185384,
 203240,
 25601,
 182993,
 53220,
 216444,
 223087,
 255489,
 170513,
 157247,
 170634,
 265313,
 199416,
 93363,
 29259,
 211426,
 19085,
 190708,
 271705,
 236948,
 252820,
 232945,
 251394,
 162738,
 136139,
 149908,
 172030,
 102967,
 138578,
 47316,
 264031,
 222296,
 177072,
 205943,
 134434,
 109955,
 159506,
 127200,
 229741,
 85656,
 49889,
 52350,
 11993,
 8245,
 75819,
 201290,
 92652,
 241666,
 70666,
 141902,
 88283,
 163761,
 63956,
 55492,
 174892,
 240568,
 12824,
 110912,
 244685,
 187256,
 83287,
 166596,
 36554,
 158433,
 81492,
 258152,
 165758,
 69389,
 148744,
 236058,
 56554,
 123608,
 38281,
 97754,
 15418,
 278418,
 86947,
 7286,
 242465,
 224646,
 136348,
 227705,
 14422,
 184532,
 183958,
 113270,
 250405,
 164096,
 163804,
 35836,
 164323,
 2110,
 132492,
 148966,
 86189,
 76223,
 193898,
 235935,
 10560,
 224525,
 146113,
 66942,
 172888,
 109901,
 117384]

In [404]:
ratings=ratings[ratings["userID"].isin(most_rated_users)]

         userID        ISBN  bookRating
1456     277427  002542730X          10
1458     277427  003008685X           8
1461     277427  0060006641          10
1465     277427  0060542128           7
1474     277427  0061009059           9
1477     277427  0062507109           8
1483     277427  0132220598           8
1488     277427  0140283374           6
1490     277427  014039026X           8
1491     277427  0140390715           7
1494     277427  0141439742           8
1497     277427  0152050167          10
1501     277427  0201000822          10
1506     277427  0310435706          10
1509     277427  0312944691           8
1522     277427  0316776963           8
1543     277427  0345413903          10
1554     277427  0375408886           9
1560     277427  0375751513           9
1564     277427  0380702843           8
1570     277427  0380791978           9
1571     277427  038081904X           9
1578     277427  0385424736           9
1581     277427  0385486804           9
1583     277427  0385503857           9
1584     277427  0385504209           8
1586     277427  039304016X           8
1591     277427  0394738136           7
1592     277427  0394862147           7
1599     277427  0399149562           7
...         ...         ...         ...
1147394  275970  0877017883          10
1147406  275970  0896086011          10
1147411  275970  0915230151           7
1147419  275970  0945774109          10
1147427  275970  0965328309          10
1147432  275970  0971183562          10
1147445  275970  1400060494           8
1147452  275970  1551110792          10
1147456  275970  1552093654           8
1147460  275970  1555912400           6
1147464  275970  1556704402          10
1147477  275970  1561483516           8
1147480  275970  1563052377           7
1147509  275970  1572970065           6
1147529  275970  1580628079           7
1147543  275970  1583224890          10
1147548  275970  1584690445          10
1147549  275970  1584690453          10
1147550  275970  1584690461          10
1147551  275970  158469047X          10
1147556  275970  1586210661           9
1147558  275970  1586214349           8
1147560  275970  1586632043          10
1147570  275970  1592865089           7
1147579  275970  1845170423           7
1147587  275970  185649814X           7
1147592  275970  1860462588           8
1147599  275970  1886411077           6
1147611  275970  3411086211          10
1147615  275970  9626340762           8

[102369 rows x 3 columns]

In [405]:
ratings.shape

(102369, 3)

### Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

In [406]:
ratings.isna().any()

userID        False
ISBN          False
bookRating    False
dtype: bool

In [407]:
ratings.isnull().any()

userID        False
ISBN          False
bookRating    False
dtype: bool

In [412]:
ratings

         userID        ISBN  bookRating
1456     277427  002542730X          10
1458     277427  003008685X           8
1461     277427  0060006641          10
1465     277427  0060542128           7
1474     277427  0061009059           9
1477     277427  0062507109           8
1483     277427  0132220598           8
1488     277427  0140283374           6
1490     277427  014039026X           8
1491     277427  0140390715           7
1494     277427  0141439742           8
1497     277427  0152050167          10
1501     277427  0201000822          10
1506     277427  0310435706          10
1509     277427  0312944691           8
1522     277427  0316776963           8
1543     277427  0345413903          10
1554     277427  0375408886           9
1560     277427  0375751513           9
1564     277427  0380702843           8
1570     277427  0380791978           9
1571     277427  038081904X           9
1578     277427  0385424736           9
1581     277427  0385486804           9
1583     277427  0385503857           9
1584     277427  0385504209           8
1586     277427  039304016X           8
1591     277427  0394738136           7
1592     277427  0394862147           7
1599     277427  0399149562           7
...         ...         ...         ...
1147394  275970  0877017883          10
1147406  275970  0896086011          10
1147411  275970  0915230151           7
1147419  275970  0945774109          10
1147427  275970  0965328309          10
1147432  275970  0971183562          10
1147445  275970  1400060494           8
1147452  275970  1551110792          10
1147456  275970  1552093654           8
1147460  275970  1555912400           6
1147464  275970  1556704402          10
1147477  275970  1561483516           8
1147480  275970  1563052377           7
1147509  275970  1572970065           6
1147529  275970  1580628079           7
1147543  275970  1583224890          10
1147548  275970  1584690445          10
1147549  275970  1584690453          10
1147550  275970  1584690461          10
1147551  275970  158469047X          10
1147556  275970  1586210661           9
1147558  275970  1586214349           8
1147560  275970  1586632043          10
1147570  275970  1592865089           7
1147579  275970  1845170423           7
1147587  275970  185649814X           7
1147592  275970  1860462588           8
1147599  275970  1886411077           6
1147611  275970  3411086211          10
1147615  275970  9626340762           8

[102369 rows x 3 columns]

### Generate the predicted ratings using SVD with no.of singular values to be 50

In [416]:
ratings.columns=ratings.columns.str.lower()

In [417]:
ratings.columns

Index(['userid', 'isbn', 'bookrating'], dtype='object')

In [422]:
from surprise import SVD
from surprise import Reader, Dataset
from surprise.model_selection import train_test_split

reader = Reader()
data = Dataset.load_from_df(ratings[['userid', 'isbn', 'bookrating']], reader)
trainset,testset=train_test_split(data,test_size=0.25)

In [424]:
trainset = data.build_full_trainset()

In [431]:
algo = SVD(n_factors=50)
algo.fit(trainset)

In [432]:
predictions = algo.test(testset)

In [ ]:
predictions

### Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [455]:
userID = 2110

In [456]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

In [457]:
from collections import defaultdict

In [458]:
def get_top_n(predictions, n=10):
    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [459]:
top_n = get_top_n(predictions, n=10)

In [460]:
for uid, user_ratings in top_n.items():
    if uid==userID:
        print(uid, [iid for (iid, _) in user_ratings])

2110 ['0441000762', '0671527215', '0806512318', '0064472779', '0142302163', '0671802283', '0060987529', '051512463X', '0590213040', '0373638167']

### Get the predicted ratings for userID `2110` and sort them in descending order

In [468]:
len(predictions)

25593

In [490]:
list_predictions=[]
for i in range(len(predictions)):
    if(predictions[i][0]==2110):
        list_predictions.append(predictions[i])
    else:
        continue

In [493]:
list_predictions

[Prediction(uid=2110, iid='0441000762', r_ui=9.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0671527215', r_ui=9.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0806512318', r_ui=6.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0064472779', r_ui=8.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0142302163', r_ui=8.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0671802283', r_ui=8.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0060987529', r_ui=7.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='051512463X', r_ui=8.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0590213040', r_ui=10.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0373638167', r_ui=9.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0743486625', r_ui=10.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0590880780', r_ui=7.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='038513097x', r_ui=7.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0812505042', r_ui=10.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0345283554', r_ui=10.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0345314255', r_ui=10.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0590629786', r_ui=10.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0140022651', r_ui=10.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0590448595', r_ui=8.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='1565111575', r_ui=10.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0679023755', r_ui=8.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0803298145', r_ui=9.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0786807555', r_ui=7.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0373619472', r_ui=7.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0373614845', r_ui=6.0, est=5, details={'was_impossible': False}),
 Prediction(uid=2110, iid='0394707745', r_ui=8.0, est=5, details={'was_impossible': False})]

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [494]:
books.columns

Index(['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher'], dtype='object')

In [495]:
users.columns

Index(['userID', 'Location', 'Age'], dtype='object')

In [496]:
ratings.columns

Index(['userid', 'isbn', 'bookrating'], dtype='object')

In [501]:
user_data=ratings[ratings["userid"]==2110]

In [502]:
user_data.head()

       userid        isbn  bookrating
14448    2110  0060987529           7
14449    2110  0064472779           8
14450    2110  0140022651          10
14452    2110  0142302163           8
14453    2110  0151008116           5

In [503]:
user_data.shape

(103, 3)

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [524]:
user_data.columns

Index(['userid', 'isbn', 'bookrating'], dtype='object')

In [525]:
isbn_list=user_data[user_data["userid"]==2110]["isbn"]

In [526]:
isbn_list=list(isbn_list)

In [527]:
books_data=books[books["ISBN"].isin(isbn_list)]

In [517]:
len(books_data)

103

In [529]:
books_data.columns=books_data.columns.str.lower()

In [530]:
books_data.columns

Index(['isbn', 'booktitle', 'bookauthor', 'yearofpublication', 'publisher'], dtype='object')

In [523]:
user_data.columns

Index(['userid', 'isbn', 'bookrating'], dtype='object')

In [537]:
user_info_full=pd.merge(user_data,books_data,on=["isbn"])

In [538]:
user_info_full

,userid,isbn,bookrating,booktitle,bookauthor,yearofpublication,publisher
0,2110,0060987529,7,Confessions of an Ugly Stepsister : A Novel,Gregory Maguire,2000,Regan Books
1,2110,0064472779,8,All-American Girl,Meg Cabot,2003,HarperTrophy
2,2110,0140022651,10,Journey to the Center of the Earth,Jules Verne,1965,Penguin Books
3,2110,0142302163,8,The Ghost Sitter,Peni R. Griffin,2002,Puffin Books
4,2110,0151008116,5,Life of Pi,Yann Martel,2002,Harcourt
5,2110,015216250X,8,So You Want to Be a Wizard: The First Book in ...,Diane Duane,2001,Magic Carpet Books
6,2110,0345260627,10,Splinter of the Mind's Eye,Alan Dean Foster,1978,Ballantine Books
7,2110,0345283554,10,Han Solo at Stars' End,Daley,1979,Not Avail
8,2110,0345283929,10,Empire Strikes Back Wars,Donald F Glut,1980,Ballantine Books
9,2110,034528710X,10,Han Solo and the Lost Legacy,Brian Daley,1980,Del Rey Books
10,2110,0345307674,10,Return of the Jedi (Star Wars),James Kahn,1983,Del Rey Books
11,2110,0345314255,10,Sword of Shannara,Terry Brooks,1995,Del Rey Books
12,2110,0345317580,10,Magic Kingdom for Sale - Sold! (Magic Kingdom ...,Terry Brooks,1990,Del Rey Books
13,2110,0345335287,10,The Black Unicorn (Magic Kingdom of Landover N...,Terry Brooks,1990,Del Rey Books
14,2110,0345362276,10,Wizard at Large (Rookies Series),Terry Brooks,1989,Del Rey Books
15,2110,0345375580,10,The Elf Queen of Shannara (Heritage of Shannar...,Terry Brooks,1993,Del Rey Books
16,2110,0345423038,6,The Wild Road,Gabriel King,1999,Del Rey Books
17,2110,0373614845,6,Mack Bolan: Dark Truth,Don Pendleton,2002,Gold Eagle
18,2110,0373614896,7,Strike and Retrieve (Super Bolan #89),Don Pendleton,2003,Gold Eagle
19,2110,037361490X,5,Age of War (Super Bolan #90),Don Pendleton,2003,Gold Eagle
20,2110,0373619472,7,Freedom Watch (Stony Man #63),Don Pendleton,2003,Gold Eagle
21,2110,0373619499,7,Stony Man: The Third Protocol,Don Pendleton,2003,Gold Eagle
22,2110,0373619502,7,Axis Of Conflict The Terror File,James Axler,2003,Gold Eagle
23,2110,0373638078,9,Earthblood (Gold Eagle Super Bolan),James Axler,1993,Gold Eagle
24,2110,0373638167,9,Savage Sun (Outlanders #3) (Outlanders),James Axler,1997,Gold Eagle
25,2110,0373642849,6,The Executioner: Devil's Army,Don Pendleton,2002,Gold Eagle
26,2110,0373642857,6,"Final Strike (Executioner #285) (Executioner,...",Don Pendleton,2002,Gold Eagle
27,2110,0373642911,7,Blood Trade (The Executioner #291),Don Pendleton,2003,Gold Eagle
28,2110,037364292X,7,Savage Game (Executioner #292),Don Pendleton,2003,Gold Eagle
29,2110,0373765649,8,Breathless For The Bachelor (Silhouette Desire...,Cindy Gerard,2004,Silhouette
...,...,...,...,...,...,...,...
73,2110,0671527215,9,Hitchhikers's Guide to the Galaxy,Douglas Adams,1984,Pocket
74,2110,0671529714,7,HIGH TIDE FEAR STREET SUPERCHILLER 12,R.L. Stine,1997,Simon Pulse
75,2110,0671532642,8,RESTAURNT END UNIV (Hitchhiker's Trilogy (Pape...,Douglas Adams,1984,Pocket
76,2110,067166865X,10,STAR TREK YESTERDAY'S SON (Star Trek: The Orig...,A.C. Crispin,1988,Audioworks
77,2110,0671695304,10,"FOREVER : A Novel of Good and Evil, Love and Hope",Judy Blume,1989,Pocket
78,2110,0671751174,10,First Evil (Fear Street Cheerleaders 1) : Firs...,R.L. Stine,1992,Simon Pulse
79,2110,0671802283,8,JUDY GARLAND,Anne E. Edwards,1975,Pocket
80,2110,0671803530,8,APPLE TO CORE,Peter McCabe,1976,Pocket
81,2110,0679023755,8,Hiking a Celebration of the Sport and the Worl...,Cindy Ross,1992,Random House Inc
82,2110,0679805265,10,Long Shot (Three Investigators Crimebusters (P...,Megan Stine,1993,Random House Children's Books
83,2110,0679811761,10,The Secret of Terror Castle (Three Investigato...,Robert Arthur,1991,Random House Children's Books
84,2110,0688047211,1,The Lives of John Lennon,Albert Goldman,1988,Harpercollins
85,2110,068808527X,8,Close Friends,Peter Jenkins,1989,Harpercollins
86,2110,0698119916,8,Time Stops for No Mouse (Hermux Tantamoq Adven...,Michael Hoeye,2003,Penguin USA (Paper)
87,2110,0743486625,10,Damnation Alley,Roger Zelazny,2004,I Books
88,2110,0786807555,7,Under a War-Torn Sky,Laura Malone Elliott,2001,Hyperion Books for Children
89,2110,0786814241,8,"Cheetah Girls, The: Woof, There It Is - Book #...",Deborah Gregory,2000,Jump Sun
90,2110,0803298145,9,When Worlds Collide (Bison Frontiers of Imagin...,Philip Wylie,1999,University of Nebraska Press
91,2110,0806512318,6,The Worst Rock-And-Roll Records of All Time: A...,Jimmy Guterman,1991,Carol Publishing Corporation
92,2110,0807842613,9,Graveyard of the Atlantic: Shipwrecks of the N...,David Stick,1989,University of North Carolina Press
93,2110,0812505042,10,The Time Machine,H. G. Wells,1995,Tor Books
94,2110,0886774500,9,"Dragon Prince (Dragon Prince, Book 1)",Melanie Rawn,1994,Daw Books
95,2110,0898863538,8,"A Hiker's Companion: 12,000 Miles of Trail-Tes...",Cindy Ross,1993,Mountaineers Books
96,2110,093317490X,7,The Yucatan: A Guide to the Land of Maya Myste...,Antoinette May,1993,Wide World Publishing
97,2110,097089726x,10,Jasper,Michelle Groce,2003,Novello Festival Press
98,2110,1558504184,8,Bradymania!: Everything You Always Wanted to K...,Elizabeth Moran,1995,Adams Media Corporation
99,2110,1561008931,7,Knee Deep in Paradise (Nova Audio Books),Brett Butler,1996,Brilliance Audio - Trade
100,2110,1565111575,10,Return of the Jedi: The Original Radio Drama,Anthony Daniels,1996,Highbridge Audio
101,2110,1570420564,10,A Dream Is a Wish Your Heart Makes: My Story,Annette Funicello,1994,Time Warner Audio Books
102,2110,1572970944,6,Quantum Leap: The Novel (Quantum Leap),Ashley McConnell,1992,Berkley Publishing Group

In [70]:
book_data.shape

(103, 5)

In [71]:
book_data.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
246,0151008116,Life of Pi,Yann Martel,2002,Harcourt
904,015216250X,So You Want to Be a Wizard: The First Book in ...,Diane Duane,2001,Magic Carpet Books
1000,0064472779,All-American Girl,Meg Cabot,2003,HarperTrophy
1302,0345307674,Return of the Jedi (Star Wars),James Kahn,1983,Del Rey Books
1472,0671527215,Hitchhikers's Guide to the Galaxy,Douglas Adams,1984,Pocket

In [73]:
user_full_info.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
0,2110,0060987529,7,Confessions of an Ugly Stepsister : A Novel,Gregory Maguire,2000,Regan Books
1,2110,0064472779,8,All-American Girl,Meg Cabot,2003,HarperTrophy
2,2110,0140022651,10,Journey to the Center of the Earth,Jules Verne,1965,Penguin Books
3,2110,0142302163,8,The Ghost Sitter,Peni R. Griffin,2002,Puffin Books
4,2110,0151008116,5,Life of Pi,Yann Martel,2002,Harcourt

### Get top 10 recommendations for above given userID from the books not already rated by that user

In [ ]:
#Already recommended above